<ul class="list-unstyled ui_tolk_list" ng-init="licount=0">
	<li ng-repeat="x in page.data[page.currentindex]"><a ui-sref=".articleid({articleid:x.id})"><span class="type type2">{{page.pageSize[page.currentindex]*(page.currentPage[page.currentindex]-1)+($index+1)}}</span><span class="text">{{x.titile}}</span><span class="date">{{x.releaseTime|reverse2}}</span><span class="auth"> <span class="glyphicon glyphicon-user"></span>{{x.username}}</span></a></li>
</ul>
<div class="clearfix"></div>
	<div ng-show="pagingOptions.totalPage>1" class="tcdPageCode" pageset='getPagingData()'>
 	</div>