<div class="ui_content_detail ui_news_detail">
						<h4 class="text-center pull-left">会议标题:</h4>
						<div class="clearfix"></div>
						<hr>
						<h5 class="text-center pull-left">会议内容:</h5>
						<div class="clearfix"></div>
						<p>我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力</p>
						<img src="images/ad-pic2.png">
						<img src="images/ad-pic2.png">
						<img src="images/ad-pic2.png">
						<div class="clearfix"></div>
						<br>
						<a href="#" class="btn btn-default btn-sm pull-right" style="width: 180px; margin:10px">相关附件下载</a>
						<div class="clearfix"></div>
						<a href="javascript:" data-toggle="modal" data-target="#myModal" class="btn btn-default btn-sm pull-right" style="width: 180px; margin:10px">会议报名</a>

						
						<div class="clearfix"></div>
						<hr>
						<ul class="list-unstyled ui_news_up_down">
							<li><a href="#"><span class="pull-left">上一篇：</span><span class="text">我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力我省在第六届全国高校辅导员职业能力</span><span class="date">2017-4-19</span></a></li>
							<li><a href="#"><span class="pull-left">下一篇：</span><span class="text">我省在第六届全国高校辅导员职业能力</span><span class="date">2017-12-19</span></a></li>
						</ul>						
					</div>



<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
				</button>
				<h4 class="modal-title" id="myModalLabel">
					会议报名
				</h4>
			</div>
			<div class="modal-body">
					    <div class="apply">						
					    	<h4 class="text-center">xxxxxx 报名表</h4>
					        <form name="loginForm" ng-controller="loginCtrl"  ng-submit="save()" novalidate>
					        <ul> 
					        	   <li>
					                <label for="name">姓名:</label>
					                 <input type="text"   ng-model="apply.name" name="name" id="name" required />
					            </li>
					            <li>
					                <label for="">所在单位:</label>
					                <input type="password"  name="Upass1" ng-model="apply.company" required>
					            </li>
					            <li>
					                <label for="">职务:</label>
					                <input type="text" ng-model="apply.duty"  id='duty' name="duty" required>
					            </li>
					            <li>
					                <label for="">职称:</label>
					                 <input type="text" id=''  ng-model="apply.job_title" name="username" required />
					            </li>
					           
					            <li>
					                <label for="code">联系电话:</label>
					                <input type="text" ng-model="apply.phone"  id='' name="code" required>
					            </li> 
					            <li>
					                <label for="">联系邮箱:</label>
					                <input type="password" id='' name="Upass1" ng-model="apply.mail" required>
					            </li>
					                <label for=""></label>
					                <input type="checkbox"  id="checkbox">我有邀请码？
					            </li>
					             <li>
					                <label for=""></label>
					                <input type="text" ng-model="apply.code"  placeholder='请输入邀请码' >
					            </li>
					        </ul>
					        </form>
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
					关闭
				</button>
				<button type="button" class="btn btn-primary btn-sm" style="    background-color:#e8413e">
					提交更改
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>

  // $(function () { $('#myModal').modal('hide')}); 
   $(function(){
        $('#myModal').modal({
        show:true,
        backdrop:true
        })
    });
</script>
<script>
   $(function () { $('#myModal').on('hide.bs.modal', function () {
   });

</script>
